/* contact.css */

/* Center the contact container */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust as needed */
  }
  
  .reg-row-1 {
    display: flex;
    flex-direction: row;

    margin-left: 13%;
    margin-bottom: 2%;
  }
 
  /* Style for the submit button */
  .contact-btn {
    margin-left: 23%;
    margin-bottom: 10%;
  }

  .form-control.msgArea {
    width: 500px !important;
    border: 1px solid black;
  }

  @media (max-width: 769px) {
    .form-control.msgArea{
        width: 300px !important;
    }
    .contact-btn{
        margin-left: 30%;
        margin-bottom: 10%;
    }

    .reg-row-1 {
        flex-direction: column;
        margin-left: 0;
        align-items: center; /* Center the items vertically in mobile view */
      }
  }